*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: $mainFontSize;
  color: $mainFontColor;
  @include breakpoint($sm) {
    font-size: 14px;
  }
}
body {
  font-family: $mainFont;
  font-size: 1rem;
}
.container {
  @include min-max(20rem, 100%, 0);
}
.wrapper {
  @include min-max(20rem, 65.625rem, 1rem);
}
