$mainFont: 'Open Sans', sans-serif;
$mainFontSize: 16px;
$mainFontColor: #7f4b13;
$mainFontColorOpacity: rgba(127, 75, 19, 0.42);
$borderFilterColor: #c9955d;
$colorFocus: rgb(27 127 204 / 50%);
$accent: #ffdfbe;
$accentDarker: #ffca93;
$appBgColor: #fff4e9;
$inputBgColor: #ffecd8;
$orangeLight: #feb567;
$orange: #fc8f1a;
$orangeDark: #ff7e5f;
$lg: 62rem;
$md: 48rem;
$sm: 36rem;
